body{
    background-color: lightgray;
    font-family:Verdana ;
    font-size: 12px;
    font-weight : normal; 
    margin: 40px;
    color: black;
}

h1{
    font-family: Arial;
    font-size: 36px;
    text-align: center;
    color: darkblue;
    background-color: white;
    border-top: solid 2px darkblue;
    border-bottom: solid 2px darkblue;
    margin: 20px auto 20px auto;
}

nav{
    overflow: hidden;
    background-color: rgb(240, 180, 192);
    font-size: 14px;
    font-family: arial, Times, sans-serif;
    border: solid 3px #74030a;
    padding: 25px;
    margin: 20px auto 20px 10px;
    width: 7%;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black; 
}

nav ul{
    list-style: none;
    list-style-type: circle;
    margin: 0;
    padding: 10px;
    list-style-image: url(carpeta.gif);
}

.azul{
    color: blue;
    font-weight: bold;
}
.blanco{
    color: white;
    font-weight: bold;
}
